<main style="padding: 16px;">
  <h1>Reset Password</h1>
  <mat-divider></mat-divider>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="full-width">
        <input matInput formControlName="password" placeholder="New Password" type="password" autocomplete="false">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password" autocomplete="false">
      </mat-form-field>
    </div>
    <div class="action">
      <button mat-raised-button color="primary" type="submit">Reset Password</button>
    </div>
  </form>
</main>
