<main style="padding: 16px;">
  <div class="title-container">
    <h1>Reset Password</h1>
    <button class="close-btn" mat-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="full-width">
        <!-- <input matInput formControlName="password" placeholder="New Password" type="password" autocomplete="false"> -->
        <input matInput placeholder="New Password" [type]="hide1 ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="full-width">
        <!-- <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password" -->
        <input matInput placeholder="Confirm Password" [type]="hide2 ? 'password' : 'text'"  formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Passwords do not match.</mat-error>
      </mat-form-field>
    </div>
    <div class="action">
      <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.valid">Update Password</button>
    </div>
  </form>
</main>
