mat-form-field {
  width: 100%;
}

.action-btns {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;

  .full-width {
    width: 100%;
  }

}

.full-width .disabled-date-input {
  // background-color: rgb(247, 247, 209) !important;
}

::ng-deep .date .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  background-color: #f8f8e9 !important;
}

.disabled-date-input {
  color: #5b5050 !important;
}

.col:last-child {
  margin-right: 0;
}
