<div class="chat-main-container">
    <div class="chat-top-container">
        <div class="chat-top-left-container">
            <img class="profile-pic"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGxzRY04_C8g4-p9tYcAT9nDeaLRrEanwep4OjmZTTJu1RXd5F5EKFayBW7nCI42jP2Iw&usqp=CAU" />
        </div>
        <div class="chat-top-right-container">
            <img class="profile-pic"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGxzRY04_C8g4-p9tYcAT9nDeaLRrEanwep4OjmZTTJu1RXd5F5EKFayBW7nCI42jP2Iw&usqp=CAU" />

            <h1 class="fellowuser-name">Vishal Gaddam</h1>
        </div>
    </div>
    <div class="chat-bottom-container">
        <div class="chat-bottom-left-container">
            <app-chat-list class="chat-list"></app-chat-list>
        </div>
        <div class="chat-bottom-right-container">
            <app-chat-window class="chat-window"></app-chat-window>
        </div>
    </div>
</div>