<div class="chat-main-container">
    <div class="chat-left-container">
        <div class="chat-left-top-container">
            <img class="profile-pic"
                src="https://app.profmedservices.com/assets/admin/file/documents/profile.png" />
        </div>
        <div class="chat-left-bottom-container">
            <app-chat-list></app-chat-list>
        </div>
    </div>
    <div class="chat-right-container">
        <div class="chat-right-top-container">
            <img class="profile-pic"
                src="https://app.profmedservices.com/assets/admin/file/documents/profile.png" />

            <h1 class="fellowuser-name">User</h1>
        </div>
        <div class="chat-right-bottom-container">
            <app-chat-window></app-chat-window>
        </div>
    </div>
</div>
