.custom-file-input {
  position: relative;
  display: inline-block;
}

.custom-file-input input[type="file"] {
  position: absolute;
  left: -9999px;
}

.custom-file-input label {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-file-input label:hover {
  background-color: #0056b3;
}


::ng-deep .multiselect-dropdown .dropdown-btn {
  font-size: 15px !important;
  width: 95% !important;
}

::ng-deep .dropdown-list {
  font-size: 15px !important;
  width: 80% !important;

  ul {
    overflow-x: hidden !important;
  }

}

.search-container {
  border: 1px solid #949090 !important;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 0 10px;
  border-radius: 6px;
  margin: 0 3px;

  .filter-search-input {
    padding: 5px;
    // background: #f6f5f5;
  }
}

.header-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    border: none !important;
  }
}
