<main class="view">
  <div class="spinner-overlay" *ngIf="showSpinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <mat-card class="medical-card">
    <mat-card-header>
      <mat-card-title>
        <!-- <mat-icon class="action-mat-icon"> keyboard_backspace </mat-icon> Customer/Company Details -->
        <div class="tab-header-label-container" (click)="navigateBack()">
          <mat-icon class="action-mat-icon" aria-label="back" >keyboard_backspace</mat-icon>
          <span>Assignment Details</span>
        </div>
      </mat-card-title>
      <!-- <button mat-raised-button color="primary" type="button" (click)="navigateToAdd()">Add Customer/Company</button> -->
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list [cols]="columns ? 3 : 1" rowHeight="700" gutterSize="10">
        <mat-grid-tile [colspan]="columns ? 2: 1" [rowspan]="1">
          <mat-tab-group [selectedIndex]="defaultTabIndex">
            <mat-tab label="General Info">
              <div class="tab-header-label-container bordered" (click)="navigateToEdit()" *ngIf="!hideEdit">
                <mat-icon class="action-mat-icon colored" aria-label="back" >edit</mat-icon>
                <span>Edit</span>
              </div>
              <div class="company-content" *ngIf="assignmentData">
                <div fxLayout="row" class="content" fxLayoutAlign="start center" *ngFor="let data of medicalProfile">
                  <div fxFlex="40%" fxFlex.xs="100%">
                    {{data.label}}
                  </div>
                  <div style="width: 40px; text-align: center;">
                    :
                  </div>
                  <div fxFlex="60%" fxFlex.xs="100%" class="content-rhs">
                    <span *ngIf="!data.type">
                      {{assignmentData[data.key]}}
                    </span>
                    <span *ngIf="data.type === 'date'">
                      {{assignmentData[data.key] || '' | date}}
                    </span>
                    <span *ngIf="data.key === 'image'">
                      <!-- {{assignmentData[data.key] || ''}} -->
                      <a [href]="MEDICAL_DOCUMENTS_URL+''+assignmentData[data.key]"
                        target="_blank">{{assignmentData[data.key] || ''}}</a>
                    </span>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab *ngIf="isProf" label="Ratings">
              <div class="company-content pd-top">
                <div class="company-card">
                  <div style="display: flex; align-items: center; gap: 16px; padding: 20px 0 0 20px;">
                    <img style="height: 100px;border-radius: 50%;" [src]="MEDICAL_DOCUMENTS_URL + assignmentData.logo" class="com-logo" />
                    <div style="display: flex; flex-direction: column;">
                      <h2>{{assignmentData.company_name}}</h2>
                    </div>
                  </div>
                  <div class="comment" *ngIf="!assignmentData.comment">
                    <div class="icon-cont">
                      <mat-icon style="cursor: pointer; width: 30px;height: 32px;font-size: 30px;color: #ffb42d;"
                        *ngFor="let star of stars; let i=index" (click)="markRating(i)">{{star}}</mat-icon>
                    </div>
                    <textarea matInput name="model" placeholder="Enter Comment" [(ngModel)]="comment" rows="4"
                      style="resize: vertical; overflow: auto;" (ngModelChange)="onModelChange($event)">
                    </textarea>
                    <mat-hint>
                      {{comment.length}}/50 words
                    </mat-hint>
                    <button mat-raised-button (click)="submitComment()" [disabled]="!comment.length"> Submit</button>
                  </div>
                  <div class="comment" *ngIf="assignmentData.comment">
                    <div class="icon-cont" style="display: flex;">
                      <span style="font-size: 16px;">Rating: </span>
                      <mat-icon style="width: 30px;height: 32px;font-size: 26px;color: #ffb42d;"
                        *ngFor="let star of stars; let i=index">{{star}}</mat-icon>
                    </div>
                    <div style="display: flex; gap: 10px;">
                      <span>Comment: </span>
                      <p>
                        {{assignmentData.comment}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Payout">
              <div class="company-content pd-top" *ngIf="medicalData">
                Payout (under development)
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" rowHeight="200" [rowspan]="1">
          <iframe width="600" height="450" frameborder="0" style="border:0" [src]="getMapUrl(medicalData?.address)"
            allowfullscreen></iframe>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
