.message-main-container { 
    display: flex;
    flex-direction: column;
    gap:0.4rem;
    margin-top: 5px;
}

// user is  the person who is currently logged in
.message-text-container-user {
    width: 15rem;
    max-width: 30rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    margin: 0rem 1rem;
    background-color: rgb(191, 198, 196);
    text-align: end; 
    align-self: flex-end;  
}

// fellowuser is the person to whom user is sending the messages 
.message-text-container-fellowuser {
    background-color: rgb(126, 158, 149);
    text-align: start;
    align-self: flex-start;  
}

.message {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.timing-text { 
    text-align: end; 
}