.message-main-container { 
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

// user is  the person who is currently logged in
.message-text-container-user {
    width: 15rem;
    max-width: 30rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    margin: 0rem 1rem;
    margin-bottom: 10px;
    background-color: rgb(191, 198, 196);
    text-align: end; 
    align-self: flex-end; 
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        /* Your tablet styles go here */
        padding-right: 13px;
        padding-left: 13px;
        
      }
    
      @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        /* Your tablet styles go here */
        padding-right: 13px;
        padding-left: 13px;
        
      } 
   
}

// fellowuser is the person to whom user is sending the messages 
.message-text-container-fellowuser {
    background-color: rgb(126, 158, 149);
    text-align: start;
    align-self: flex-start;  
}

.message {
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-size: 13px;
}

.timing-text { 
    text-align: end; 
    font-size: 12px;
}