h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.calendar {
  max-width: 900px;
  margin: 0 auto;
}
.calendar-container {
  padding: 20px;
}

.page {
  background-color: #fafcfe;

  .calendar-container {
    width: 80%; /* Set the desired width */
    // height: 400px; /* Set the desired height */
    margin: 0 auto; /* Center the calendar horizontally */
  }
}

.fc-daygrid-event {
  line-height: 1.2em; /* Adjust line height */
  padding: 2px 4px; /* Control padding for a more compact view */
  height: 50px;
}

.full-calendar-container {
  max-height: 400px; /* Set a specific height */
  overflow-y: auto; /* Allow scrolling if content exceeds the height */
}
.toolbar {
  align-items: center;
  display: flex;
  padding: 10px 28px;
}

.note {
  padding-bottom: 16px;
  color: #525357;
  font-size: 16px;
  line-height: 35px;
}
