<div class="spinner-overlay" *ngIf="showSpinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>
  <div class="header-label-container">
    <div class="toolbar">
      <mat-icon class="action-mat-icon" aria-label="back"
        (click)="navigateBack()">keyboard_backspace</mat-icon>
      <span class="title">
        Add Job Post</span>
    </div>
  </div>

  <mat-divider></mat-divider>
<div class="page">
  <div class="calendar-container">
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
