.rooms-dropdown {
  width: 240px;
  display: block;
  margin-top: 18px;
}

.add-icon {
  color: #1d6f9e;
  font-size: 28px;
  height: 40px;
  width: 40px;
}

.delete-icon {
  color: #ef4343;
  font-size: 28px;
  height: 40px;
  width: 40px;
}
