<div class="spinner-overlay" *ngIf="showSpinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
  <div class="header-label-container">
    <mat-icon class="action-mat-icon" aria-label="back" (click)="navigateBack()">keyboard_backspace</mat-icon>
    <span class="title">
      Assignment</span>
  </div>

  <mat-divider></mat-divider>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        {{assignmentData ? 'Edit' : 'Add'}} Assignment
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Assignment -->
      <div class="form-panel">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Assignment
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="form-body">
              <div class="row">
                <div class="col">
                  <ng-multiselect-dropdown [placeholder]="'Assignment'" [settings]="assSettings"
                    [data]="assignmentsMaster" formControlName="assignment" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Transaction</mat-label>
                    <div class="uname-input">
                      <input matInput value="TR1213">
                    </div>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label> Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="assignmentForm.get('date')?.invalid && assignmentForm.get('date')?.touched">
                      Date is invalid
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Amount</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="amount">
                    </div>
                    <mat-error *ngIf="assignmentForm.get('amount')?.invalid && assignmentForm.get('amount')?.touched">
                      Amount is invalid
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label> Payment Date</mat-label>
                    <input matInput [matDatepicker]="paymentDate" formControlName="paymentDate">
                    <mat-datepicker-toggle matIconSuffix [for]="paymentDate"></mat-datepicker-toggle>
                    <mat-datepicker #paymentDate></mat-datepicker>
                    <mat-error
                      *ngIf="assignmentForm.get('paymentDate')?.invalid && assignmentForm.get('paymentDate')?.touched">
                      Payment Date is invalid
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- Patient -->
      <div class="form-panel">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Patient
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="form-body">
              <div class="row">
                <div class="col">
                  <ng-multiselect-dropdown [placeholder]="'Patient'" [settings]="patSettings" [data]="patientsMaster"
                    formControlName="patientId" (onSelect)="handlePatientSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
                  <mat-error
                    *ngIf="assignmentForm.get('patientId')?.invalid && assignmentForm.get('patientId')?.touched">
                    Patient is invalid
                  </mat-error>
                  <button mat-raised-button class="center" style="margin: 10px 0 6px 0" color="primary"
                    (click)="openAddPopUpForm()">
                    <div>
                      Add
                    </div>
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Patient Address</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="patientAddress" readonly>
                    </div>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Contact Person Name</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="cPerson1Name" readonly>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Contact Person Phone</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="cPerson1Phone" readonly>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Contact Person Name</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="cPerson2Name" readonly>
                    </div>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Contact Person Phone</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="cPerson2Phone" readonly>
                    </div>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col typeOF">
                  <label>Type Of: </label>
                  <mat-radio-group aria-label="Select an option" formControlName="typeOf">
                    <mat-radio-button value="in-person">In-Person</mat-radio-button>
                    <mat-radio-button value="telephone">Telephone</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col typeOF">
                  <label>Visit Type: </label>
                  <mat-radio-group aria-label="Select an option" formControlName="visitType">
                    <mat-radio-button value="scheduled">Scheduled</mat-radio-button>
                    <mat-radio-button value="unscheduled">Unscheduled</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Visit Date</mat-label>
                    <input matInput [matDatepicker]="visitDate" formControlName="visitDate">
                    <mat-datepicker-toggle matIconSuffix [for]="visitDate"></mat-datepicker-toggle>
                    <mat-datepicker #visitDate></mat-datepicker>
                    <mat-error
                      *ngIf="assignmentForm.get('visitDate')?.invalid && assignmentForm.get('visitDate')?.touched">
                      Visit Date is invalid
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>TimeZone</mat-label>
                    <!-- <input matInput formControlName="timezone"> -->
                    <mat-select formControlName="timezone">
                      <mat-option *ngFor="let timezone of timezones"
                        [value]="timezone.id">{{timezone.timezone}}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="assignmentForm.get('timezone')?.invalid && assignmentForm.get('timezone')?.touched">
                      TimeZone is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <!-- <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput [format]="24" formControlName="visitTime" [ngxMatTimepicker]="pickerS"
                      placeholder="Time In" readonly />
                    <mat-icon matSuffix (click)="pickerS.open()">
                      watch_later
                    </mat-icon>
                    <mat-error
                      *ngIf="assignmentForm.get('visitTime')?.invalid && assignmentForm.get('visitTime')?.touched">
                      Visit Time is invalid
                    </mat-error>
                  </mat-form-field>
                  <ngx-mat-timepicker color="accent" #pickerS></ngx-mat-timepicker>

                  <ngx-mat-timepicker #pickerA dottedMinutesInGap enableKeyboardInput></ngx-mat-timepicker>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput [format]="24" formControlName="visitTimeOut" [ngxMatTimepicker]="pickerS1"
                      placeholder="Time Out" readonly />
                    <mat-icon matSuffix (click)="pickerS1.open()">
                      watch_later
                    </mat-icon>
                    <mat-error
                      *ngIf="assignmentForm.get('visitTimeOut')?.invalid && assignmentForm.get('visitTimeOut')?.touched">
                      Visit Time is invalid
                    </mat-error>
                  </mat-form-field>
                  <ngx-mat-timepicker color="accent" #pickerS1></ngx-mat-timepicker>

                  <ngx-mat-timepicker #pickerA dottedMinutesInGap enableKeyboardInput></ngx-mat-timepicker>
                </div> -->
                <!-- Time In -->
                <div class="col">
                  <div class="time-selector">
                    <label style="font-size: 16px;
                    padding-right: 6px;">Time In: </label>
                    <div class="time-input-container">
                      <input type="number" class="time-input" [value]="(assignmentForm.get('hourIn')?.value || 12)" formControlName="hourIn" (input)="validateHour('in')"
                       />
                      <span>:</span>
                      <input type="number" class="time-input" formControlName="minuteIn" [value]="(assignmentForm.get('minuteIn')?.value || 0)" (input)="validateMinute('in')"
                        />
                      <!-- <input type="text" class="time-input" value="AM"/> -->
                      <input type="text" class="time-input" formControlName="inAmPm" readonly />
                      <div class="am-pm-toggle">
                        <button class="toggle-button" (click)="toggleAmPm('in')">▲</button>
                        <button class="toggle-button" (click)="toggleAmPm('in')">▼</button>
                      </div>
                    </div>
                  </div>
                  <mat-error
                    *ngIf="(assignmentForm.get('hourIn')?.invalid && assignmentForm.get('hourIn')?.touched) || (assignmentForm.get('minuteIn')?.invalid && assignmentForm.get('minuteIn')?.touched)">
                    Invalid time.
                  </mat-error>
                </div>

                <!-- Time Out -->
                <div class="col">
                  <div class="time-selector">
                    <label style="font-size: 16px;
                    padding-right: 6px;">Time Out: </label>
                    <div class="time-input-container">
                      <input type="number" class="time-input" [value]="(assignmentForm.get('hourOut')?.value || 12)" formControlName="hourOut" (input)="validateHour('out')"
                         />
                      <span>:</span>
                      <input type="number" class="time-input" [value]="(assignmentForm.get('minuteOut')?.value || 0)" formControlName="minuteOut"
                        (input)="validateMinute('out')" />
                      <input type="text" class="time-input" formControlName="outAmPm" readonly />
                      <div class="am-pm-toggle">
                        <button class="toggle-button" (click)="toggleAmPm('out')">▲</button>
                        <button class="toggle-button" (click)="toggleAmPm('out')">▼</button>
                      </div>
                    </div>
                  </div>
                  <mat-error
                    *ngIf="(assignmentForm.get('hourOut')?.invalid && assignmentForm.get('hourOut')?.touched) || (assignmentForm.get('minuteOut')?.invalid && assignmentForm.get('minuteOut')?.touched)">
                    Invalid time.
                  </mat-error>
                </div>
                <div class="col">
                  <!-- <mat-form-field class="full-width"> -->
                  <!-- <mat-label>Difference</mat-label> -->
                  <div class="uname-input">
                    <label style="font-size: 16px;
                    padding-right: 10px; width: 101px;">Duration (h:m): </label>
                    <input style="
                      border: none;
                      font-size: 16px;
                      background: #f6ffa4;
                      padding: 4px;
                      border-radius: 3px;
                      color: black;" placeholder="Difference" [value]="calculateTimeDifference()" disabled>
                  </div>
                  <!-- </mat-form-field> -->
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div> <span class="text-sb" style="font-size: 16px;">Attach Patient Image </span>
                    <span class="help-text">
                      ( allowed JPG or PNG, max size 1 mb)
                    </span>
                  </div>
                  <input id="fileInput" hidden #photoInput type="file"
                    (change)="onFileSelected($event, fileType.PHOTO)">
                  <div class="file-input"
                    [ngClass]="{'file-error' : photoError && !this.assignmentForm.get('image')?.value}"
                    (click)="photoInput.click()">
                    <div class="label-container">
                      <div class="label-section">Choose file</div>
                    </div>
                    <div class="name-section">{{this.assignmentForm.get('image')?.value?.name || 'No file chosen'}}
                    </div>
                  </div>
                  <span class="error-text">{{photoError}}</span>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- Professional -->
      <div class="form-panel">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Medical Member
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="form-body">
              <div class="row">
                <div class="col">
                  <ng-multiselect-dropdown [placeholder]="'Medical Member'" [settings]="medSettings"
                    [data]="medicalTeams" formControlName="medicalId" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
                  <button mat-raised-button class="center" style="margin-top: 10px;" color="primary"
                    (click)="openMedicalAddPopUpForm()">
                    <div>
                      Add
                    </div>
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Medical Profession</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="medicalProfession" readonly>
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- Notes -->
      <div class="form-panel">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Notes
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="form-body">
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Professional Notes</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="prNotes">
                    </div>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Patient Notes</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="pNotes">
                    </div>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Internal Notes</mat-label>
                    <div class="uname-input">
                      <input matInput formControlName="iNotes">
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>

    <mat-card-actions class="action-btns">
      <button mat-raised-button class="cancel-btn" type="button" (click)="navigateBack()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
