.chat-main-window-container {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.chat-top-container {
  flex: 0.88; 
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  // @media only screen and (min-width: 768px) and (max-width: 1023px) {
  //   /* Your tablet styles go here */
  //   height: 90%;
  // }

  // @media only screen and (min-width: 1024px) and (max-width: 1366px) {
  //   /* Your tablet styles go here */
  //   height: 90%;
  // }
}

.chat-bottom-container {
  flex: 0.12;
  width: 100%;
  display: flex;
  background-color: rgb(188, 178, 178);
  justify-content: center;
  padding-top:1.4rem;
  gap:1rem;
  border: 2px solid grey;
  // @media only screen and (min-width: 768px) and (max-width: 1023px) {
  //   /* Your tablet styles go here */
  //   height: 8%;
  //   border: 3px solid black;
  //   margin-top: 15rem;
  // }

  // @media only screen and (min-width: 1024px) and (max-width: 1366px) {
  //   /* Your tablet styles go here */
  //   height: 8%;
  //   border: 3px solid black;
  //   margin-top: 16rem;
  // }
}

.input-container {
  width: 55%;
  height: 2.4rem;
  font-size: 1rem;
  color: grey;
  border: 2px solid grey;
  border-radius: 0.3rem;
  outline: none;
  padding: 1rex;
}

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0px;
  margin-top: 0.5rem;
}

.send-icon {
  font-size: 1.6rem;
  align-self: center;
  color: grey;
}
