<div class="chat-window-main-container">
    <div class="chat-top-container">
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>
        <h1>6666</h1>





    </div>
    <div class="chat-bottom-container">
        <input class="input-container" />
        <button class="send-button">
            <mat-icon class="send-icon">send</mat-icon>
        </button>
    </div>
</div>