<div class="spinner-overlay" *ngIf="showSpinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <div class="header-label-container">
    <mat-icon class="action-mat-icon" aria-label="back" (click)="navigateBack()">keyboard_backspace</mat-icon>
    <span class="title">
      {{customerData ? 'Edit' : 'Add'}} Driver/Sewadar</span>
  </div>
  <mat-divider></mat-divider>

  <!-- company -->
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>General Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <!-- <div class="col">
          <ng-multiselect-dropdown [placeholder]="'Select Category'" [settings]="categorySettings" [data]="category"
            formControlName="category" (onSelect)="handleCatChange($event)" (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>
        <div class="col">
          <ng-multiselect-dropdown [placeholder]="'Select Sub-Category'" [settings]="subCategorySettings"
            [data]="filteredSubCat" formControlName="sub_category" (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div> -->
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Sewadar Code</mat-label>
            <input matInput formControlName="code">
            <mat-error *ngIf="companyForm.get('code')?.invalid && companyForm.get('code')?.touched">
              Sewadar Code is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="fname" placeholder="First Name">
            <mat-error *ngIf="companyForm.get('fname')?.invalid && companyForm.get('fname')?.touched">
              First Name is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lname" placeholder="Last Name">
            <mat-error *ngIf="companyForm.get('lname')?.invalid && companyForm.get('lname')?.touched">
              Last Name is invalid
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Physical Address</mat-label>
            <!-- <input matInput formControlName="physical_address"> -->
            <textarea matInput formControlName="physical_address"></textarea>
            <mat-error
              *ngIf="companyForm.get('physical_address')?.invalid && companyForm.get('physical_address')?.touched">
              Physical Address is required
            </mat-error>
          </mat-form-field>
          <mat-checkbox color="primary" (change)="handleMailingAddress($event)" class="example-margin">Same as Physical
            Address</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Mailing Address</mat-label>
            <!-- <input matInput formControlName="mailing_address"> -->
            <textarea matInput formControlName="mailing_address"></textarea>
            <mat-error
              *ngIf="companyForm.get('mailing_address')?.invalid && companyForm.get('mailing_address')?.touched">
              Mailing Address is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label> Phone</mat-label>
            <input matInput formControlName="phone">
            <mat-error *ngIf="companyForm.get('phone')?.invalid && companyForm.get('phone')?.touched">
              Sewadar Phone is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Status</mat-label>
            <input matInput formControlName="status" placeholder="Status">
            <mat-error *ngIf="companyForm.get('status')?.invalid && companyForm.get('status')?.touched">
              Status is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Department</mat-label>
            <input matInput formControlName="department" placeholder="Department">
            <mat-error *ngIf="companyForm.get('department')?.invalid && companyForm.get('department')?.touched">
              Department is invalid
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Email Id</mat-label>
            <input matInput formControlName="company_email">
            <mat-error *ngIf="companyForm.get('company_email')?.invalid && companyForm.get('company_email')?.touched">
              Email Id is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" (input)="handleMobileNumber($event,'phone')"
              placeholder="Phone Number">
            <mat-error *ngIf="companyForm.get('phone')?.invalid && companyForm.get('phone')?.touched">
              Please enter a valid phone number in the format (XXX) XXX-XXXX
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Fax</mat-label>
            <input matInput formControlName="fax" (input)="handleMobileNumber($event,'fax')">
            <mat-error *ngIf="companyForm.get('fax')?.invalid && companyForm.get('fax')?.touched">
              Fax is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Website</mat-label>
            <input matInput formControlName="website">
            <mat-error *ngIf="companyForm.get('website')?.invalid && companyForm.get('website')?.touched">
              Website is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>TimeZone</mat-label>
            <!-- <input matInput formControlName="timezone"> -->
            <mat-select formControlName="timezone">
              <mat-option *ngFor="let timezone of timezones"
                [value]="timezone.timezone">{{timezone.timezone}}</mat-option>
            </mat-select>
            <mat-error *ngIf="companyForm.get('timezone')?.invalid && companyForm.get('timezone')?.touched">
              TimeZone is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <!-- contact-info -->
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Contact Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Primary Contact Name</mat-label>
            <input matInput formControlName="contact_name">
            <mat-error *ngIf="companyForm.get('contact_name')?.invalid && companyForm.get('contact_name')?.touched">
              Primary Contact Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Position</mat-label>
            <input matInput formControlName="position">
            <!-- <mat-error *ngIf="companyForm.get('Position')?.invalid && companyForm.get('Position')?.touched">
              Password is required
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="contact_phone" (input)="handleMobileNumber($event,'contact_phone')">
            <mat-error *ngIf="companyForm.get('contact_phone')?.invalid && companyForm.get('contact_phone')?.touched">
              Contact Phone is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Email Id</mat-label>
            <input matInput formControlName="contact_email">
            <mat-error *ngIf="companyForm.get('contact_email')?.invalid && companyForm.get('contact_email')?.touched">
              Email Id is invalid
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <!-- payment-info -->
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Contact Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Credit Limit</mat-label>
            <input matInput formControlName="credit_limit">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Payment Method</mat-label>
            <input matInput formControlName="payment_method">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Payment Days</mat-label>
            <input matInput formControlName="payment_days">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Payment Terms</mat-label>
            <input matInput formControlName="payment_terms">
          </mat-form-field>
        </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes"></textarea>
          </mat-form-field>
        </div>
      </div>

      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Company Id</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Company Id</mat-label>
                <input matInput formControlName="company_id">
              </mat-form-field>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
        </mat-card-content>
        <mat-card-actions class="action-btns">
          <button mat-raised-button class="cancel-btn" type="button" (click)="handleCancel()">Cancel</button>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
      </mat-card>

    </mat-card-content>
  </mat-card>
</form>
