<div class="grid-container">
  <div class="spinner-overlay" *ngIf="showSpinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <span class="mat-h1">Dashboard</span>
  <mat-divider></mat-divider>
  <mat-grid-list [cols]="columns ? 4 : 2" rowHeight="140px" *ngIf="cards && cards.length">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card-content-text">
            <span>2</span>
            <mat-icon>arrow_upward</mat-icon>
          </div>
          <div>
            <i [class]="card.icon"></i>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list [cols]="columns ? 2 : 1" *ngIf="cards && cards.length">
    <mat-grid-tile class="set2-grid" *ngFor="let card of cardsSet2" [colspan]="card.cols" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="table-container" *ngIf="card.title === 'Companies'">
            <div class="table-row table-header">
              <div class="table-cell">Name</div>
              <div class="table-cell">Email</div>
              <div class="table-cell">Category</div>
            </div>
            <div class="table-row" *ngFor="let data of cusData">
              <div class="table-cell">{{data['company_name']}}</div>
              <div class="table-cell">{{data['company_email']}}</div>
              <div class="table-cell">{{data['category_names']}}</div>
            </div>
          </div>
          <div class="table-container" *ngIf="card.title === 'Assignments'">
            <div class="table-row table-header">
              <div class="table-cell">Patient</div>
              <div class="table-cell">Amount</div>
              <div class="table-cell">Status</div>
            </div>
            <div class="table-row" *ngFor="let data of assignments">
              <div class="table-cell">{{data['patient_name']}}</div>
              <div class="table-cell">{{data['amount']}}</div>
              <div class="table-cell">{{data['status']}}</div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
