main {
  margin: 24px;
  height: 100%;

  form {
    padding: 0;

    textarea {
      width: 90%;
      resize: vertical;
      overflow: auto;
      height: 92px;
      border: none;
      border-bottom: 1px solid #dadeef;
      padding: 12px 16px;
    }

    :focus-visible {
      border: 1px solid #dadeef;
    }
  }

  .action {
    bottom: 18px;
    width: 91%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    position: absolute;

    .left {
      width: 100%;

      .inp {
        width: 100%;
        border-radius: 4px;
        font-size: 16px;
        padding: 6px;
        border: 1px solid #9ea2b1;
      }

      .inp:focus {
        border: 1px solid blue;
      }
      .inp:focus-visible {
        border: 1px solid blue;
      }
      .inp:active {
        border: 1px solid blue;
      }
    }

    .right {
      display: flex;
      gap: 10px;
    }

  }

  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
